<div>

  <%- include('./header') %>  
  
</div>

<div class="row mt-5">
  <div class="col d-flex justify-content-center"> 
      
          <% if(products.length == 0) {%> 
              <div class="d-flex justify-content-center">

                  <div class="alert alert-danger" role="alert">
                     No se encontraron registros
                  </div>
              </div>
          <% }else{ %> 
          <table class="table table table-dark table-striped" style="max-width: 350px;">
          <thead>
            <tr style="font-size: 17px;">
            
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Arg </th> 
              <th scope="col">Ar. Saud </th> 
              <th scope="col">Arg </th> 
              <th scope="col">Mexico </th> 
              <th scope="col">Arg </th> 
              <th scope="col">Polonia </th> 
              <th scope="col">Apuesta </th> 
              

            </tr>
          </thead>
          <tbody>
              <% products.forEach((i)=> {%>

           
            <tr >
              
              <td><%= i.name %></td>
              <td><%= i.lastname%></td>

              <td><%= i.arg1%></td>
              <td><%= i.ara%></td>

              <td><%= i.arg2%></td>
              <td><%= i.mex%></td>

              <td><%= i.arg3%></td>
              <td><%= i.pol%></td>

              <td>$<%= i.apuest%></td>


            </tr>
                      
           <%     }) %> 
          </tbody>
        </table>
        <% } %> 
  </div> 
</div>


<%- include('../partials/footer') %> 
  

   
